.main{
    &__info{
        padding: 42px 20px 20px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        align-items: self-start;
        align-self: start;
        gap: 20px;
        max-width: 1127px;
        margin-left: auto;
        margin-right: auto;
    }
}

.card{
    background-color: white;
    padding: 24px;
    box-shadow: 0px 9px 10px -6px rgba(0,0,0,0.47);
    border-radius: 6px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    &-title{
        font-weight: 700;
        color: #697898;
    }

    &-numbers{
        color: #697898;
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 18px;
    }

    &-count{

        &-up{
            color: #22DA89;
            font-size: 26px;
            font-weight: 700;
            margin-right: 10px;
            display: flex;

            &::before{
                content: '';
                background-image: url($image+'arrow-up.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 10px;
                align-self: center;
            }
        }   

        &-down{
            color: #F2235F;

            &::before{
                background-image: url($image+'arrow-down.svg');
            }
        }
    }

    &__small{
        &-header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            height: 66px;
            margin-bottom: 18px;

            &-icon{
                width: 66px;
                height: 66px;
                background-color: #DBE5FF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before{
                    content: '';
                    background-image: url($image+'arrow45.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 24px;
                    height: 24px;
                }

                &-purchase{
                    &::before{
                        background-image: url($image+'cart.svg');
                    }
                }

                &-order{
                    &::before{
                        background-image: url($image+'flag.svg');
                    }
                }
            }
        }

        &-footer{
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            color: #697898;
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__medium{

    }
}

@media (max-width: 1310px) {
    .main{
    &__info{
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
        }
    }
}