.menu{
    display: grid;
    grid-template-rows: 70px 1fr 1fr;
    background-color: $main-color;
    height: 100vh;

    &__header{
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid white;
        align-items: center;
        margin: 0 20px;

        &-logo{
            width: 27px;
            height: 27px;
            background-image: url($image+'mikatto-logo.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &__items{
        display: flex;
        flex-flow: column nowrap;
        padding: 24px 0 0 0;
        margin-bottom: 24px;

        &-item{
            display: flex;
            align-items: center;
            font-family: $lato;
            font-weight: 400;
            text-decoration: none;
            color: #DBE5FF;
            line-height: 64px;
            padding: 0 24px;

            &::before{
                content: '';
                background-image: url($image+'dashboard.svg');
                width: 24px;
                height: 24px;
                margin-right: 18px;
            }

            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.2);
                color: white;
            }

            &:focus{
                background-color: rgba($color: #000000, $alpha: 0.2);
                color: white;
            }

            &:active{
                background-color: rgba($color: #000000, $alpha: 0.4);
                color: #DBE5FF;
            }

            &-icon2{
                &::before{
                    background-image: url($image+'tables.svg');
                }
            }

            &-icon3{
                &::before{
                    background-image: url($image+'charts.svg');
                }
            }

            &-icon4{
                &::before{
                    background-image: url($image+'widgets.svg');
                }
            }
        }
    }
}

.third-party{
        place-self: end stretch;
        padding:24px 0;
        background-color: rgba($color: #000000, $alpha: 0.4);

        &-item{
            line-height: 48px;
        }
    }