body{
    background-color: #F6F8FF;
    // overflow: hidden;
    display: grid;
    grid-template-columns:270px 1fr;
    min-width: 320px;
    font-family:  'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 994px){
    
    body{
    grid-template-columns:70px 1fr;
    }
}

@media (max-width: 766px) {
    body{
        grid-template-columns:unset;
        grid-template-rows: 70px 1fr;
    }
}

$lato: 'Lato', sans-serif;
$main-color:#5627FF;
$image:"../images/";

@import "_cards.scss";
@import "_menu.scss";
@import "_content.scss";